*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(to right, #4daf54, #3d8880);
    height: 100vh;
}
.card {
    width: 320px;
    height: 400px;
    background-color: #272d40;
    margin: 120px auto;
    border-radius: 15px;
    color: white;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.card__heart, .card__cart {
    font-size: 25px;
    left: 20px;
    position: absolute;
}
.card__cart {
    left: unset;
    right: 20px;
}
.card__img {
    width: 90%;
    transition: 0.5s;
    padding-top: 20px;
}
.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card__title,.card__price {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
}
.card__title {
    color: #4daf54;
}

.card__size {
    padding: 0px;
}
.card__size h3{
    font-size: 16px;
}
.card__size span {
    background-color: #ccc;
    color: #333;
    padding: 6px 9px;
    border-radius: 5px;
}
.card__color {
    font-size:15px ;   
    padding-top: 15px; 
}
.card__color .green {
    position: absolute;
    background-color: #4CAF50;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left:10px;
}
.card__color .red {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 50px;
}
.card__color .black {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 90px;
}
.card__action {
    padding-top: 20px;
    font-size: 16px;
}

.card__action button {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #4daf54;
    border: none;
    cursor: pointer;
}
.card__action--add {
    margin-left: 5px;
}
.card:hover .card__img {
    /* dịch lên 90px quay 1 góc 20 độ lên trên */
    transform: translateY(-90px) rotate(-20deg);
}
.card:hover .card__title {
    transform: translate(-38px , -70px);
}
.card:hover .card__price {
    transform: translate(-117px , -72px);
}
.card__size, .card__color, .card__action {
    /* margin để đẩy ra  */
    /* ẩn đi vì tí nữa cho transisan vào nó chạy lên */
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}
.card__size {
    margin-top: 150px;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
    visibility: visible;
    opacity: 100;
    /* trở lại ban đầu  */
}
.card:hover .card__size {
    margin-top: -10px;
}


